@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    position: absolute;
    background-color: #edf0d1;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

button {
    width: 200px;
    height: 60px;
    background-color: #9439b3;
    color: #fff;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s ease;
}

.primary-button {
    position: relative;
    background-color: #9439b3;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.primary-button:hover {
    background-color: #9a66ac;
}


.modal {
    background-color: rgba(65, 63, 63, 0.8);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    /* transition: all .3s ease; */
}

.disabled {
    /* transition: 1s ease; */
    display: none;
}

.close {
    margin-top: 1rem;
    font-size: 32px;
    align-self: flex-start;
    cursor: pointer;
}
.info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.card {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 31.25rem;
    height: 25rem;
    background-color: #edf0d1;
    border-radius: 10px;
}

.content {
    margin-inline: auto;
    width: 90%;
    /* background-color: red; */
}

p.title {
    margin-top: 3rem;
    padding-inline: 2rem;

    font-size: 52px;
    font-weight: 600;
}

.form {
    padding-inline: 2rem;
    margin-top: 2.5rem;
    width: 100%;
    /* background-color: red; */
}

p.paragraph {
    /* margin-left: 2rem; */
    font-size: 28px;
    line-height: 2.5rem;

}

input {
    margin-left: 2rem;
    height: 60px;
    margin-inline: auto;
    width: 100%; 
    border-radius: 5px;
    border: none;
    font-size: 28px;
    padding: 1rem;
    color: rgb(48, 47, 47);
}
.warning {
    color: rgb(232, 22, 22);
    height: 16px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 2rem;
}
.confirm {
    position: relative;
    margin-top: 2rem;
    left: 50%;
    transform: translate(-50%);
   /* position: sticky; */
    background-color: #4fb854;
}

.confirm:hover {
    background-color: #77bd7a;
}


