@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  background-color: #22212C;
  color: #837E9F;
}

main {
  display: flex;
  justify-content: center;
  gap: 3.75rem;
}

section {
  padding: 2.5rem 2rem;
  width: 21.75rem;
  background-color: #302F3D;
  border-radius: 30px;
  margin-bottom: 2rem;
}

.experiences p,
.education p,
.technologies p {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}
.experiences ul,
.education ul,
.technologies ul {
  margin-left: 0.5rem;
  margin-bottom: 1.25rem;
}
.experiences ul li,
.education ul li,
.technologies ul li {
  font-weight: 300;
}
.experiences ul li.title,
.education ul li.title,
.technologies ul li.title {
  font-weight: 700;
  font-size: 1rem;
}
.experiences ul li:nth-last-child(1),
.education ul li:nth-last-child(1),
.technologies ul li:nth-last-child(1) {
  font-weight: 400;
}

ul li::marker {
  content: none;
}

.picture {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin: 1.9375rem 1.25rem 2.625rem 1.875rem;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2.5rem;
  height: 18.25rem;
}
.profile img {
  margin-inline: auto;
  margin-bottom: 1.875rem;
}
.profile .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile .text #name {
  font-size: 1.437rem;
  font-weight: 700;
  margin-bottom: 0.625rem;
}
.profile .text #role {
  font-size: 0.875rem;
  font-weight: 400;
}

.links ul li a {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
}
.links ul li a img {
  margin-right: 1.4rem;
  fill: red;
}
.links ul li a p {
  font-size: 0.875rem;
  text-decoration: none;
  color: #837E9F;
}

.technologies .tags {
  display: grid;
  margin-inline: auto;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
}
.technologies .tags .tag {
  color: #22212C;
  text-align: center;
  font-size: 0.675rem;
  text-transform: uppercase;
  padding-block: 0.2rem;
  background-color: #CB92B1;
  border-radius: 10px;
}

.profile-picture {
  border: 2px solid #00FF00;
}

.title-description,
.repos {
  margin-bottom: 1.875rem;
}

.title-description {
  width: 100%;
  height: 5.375rem;
  border-radius: 20px;
  background-color: #302F3D;
}
.title-description.project {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.875rem;
}
.title-description.project p:nth-child(1) {
  font-weight: 700;
  font-size: 1.25rem;
}
.title-description.post-title {
  padding: 1.875rem;
}
.title-description.post-title p {
  font-weight: 700;
  font-size: 1.25rem;
}

.projects {
  width: 59.5rem;
}

.repos {
  display: flex;
  height: 11.625rem;
  justify-content: space-between;
}

.repo {
  width: 28.8125rem;
  height: 100%;
  background-color: #302F3D;
  border-radius: 20px;
}
.repo .title-repo {
  width: 7.1875rem;
  height: 1.25rem;
  margin: 1.875rem 19.75rem 1.25rem 1.875rem;
  font-weight: 700;
  display: flex;
}
.repo .title-repo img {
  margin-right: 1rem;
}
.repo .description-repo {
  width: 26.3125rem;
  margin-bottom: 1.25rem;
  margin-left: 1.875rem;
}
.repo .others-info {
  display: flex;
  justify-content: space-between;
}
.repo .others-info .left-side {
  margin-left: 1.875rem;
  display: flex;
  width: 8rem;
  height: 1.25rem;
  font-size: 0.875rem;
}
.repo .others-info .left-side img {
  margin-right: 0.5rem;
}
.repo .others-info .left-side .stars {
  display: flex;
  margin-right: 1rem;
  align-items: center;
}
.repo .others-info .left-side .branch {
  display: flex;
  align-items: center;
}
.repo .others-info .right-side {
  display: flex;
  margin-right: 1.875rem;
  margin-left: 11.3125rem;
  width: 5.75rem;
  height: 1rem;
  font-size: 0.875rem;
}
.repo .others-info .right-side .circle {
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: #f5f560;
  margin-right: 0.5rem;
}

.post {
  display: flex;
  background-color: #302F3D;
  border-radius: 20px;
  height: 12.5625rem;
}
.post .contents {
  width: 38.25rem;
  height: 8.0625rem;
  margin: 1.875rem 10.125rem 2.625rem 1.25rem;
}
.post .title-post {
  height: 2rem;
  font-size: 1.125rem;
  font-weight: 700;
  align-items: flex-start;
}
.post .date {
  width: 5rem;
  height: 1.125rem;
  margin-bottom: 1.75rem;
  font-size: 0.875rem;
}
.post .content-post {
  width: 32rem;
  height: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.6875rem;
}
.post .hash-tags {
  width: 27.875rem;
  height: 1.3125rem;
  display: flex;
  font-size: 0.875rem;
  font-weight: 300;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
